/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  } */
.mainContainer {
  margin-left: 0;
  box-sizing: border-box;
  height: 100vh;

  margin-top: 20px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .mainContainer {
    margin-left: 120px;
  }
}
